/* general */
a{
  text-decoration: none;
}
.text-white{
  color: #fff;
}
.text-center{
  text-align: center;
}
.content-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
/* app */
.app{
  background-color: #FFFFFF;
}
/* navbar */
.navbar-container{
  background-color: #FBFCF9;
}
.navbar-top{
  background-color: #7E7D71;
}
.navbar-top p{
  padding-right: 5px;
  font-size: 13px;
}
.navbar-link{
  text-transform: uppercase;
}
.navbar-top a{
  font-size: 13px;
}
.navbar{
  width: 100%;
  background-color: #FBFCF9;
  height: 80px;
  display: inline-block;
  line-height: 50px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.navbar-title{
  width: 100%;
  height: 80px;
  line-height: 80px;
  /*background-color: red;*/
}
.navbar-title .navbar-brand{
  text-transform: uppercase;
  text-decoration: none;
  font-size: 50px;
  color: #000;
  font-weight: 300;
  margin-left: 30px;
}
.navbar-content{
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*background-color: blue;*/

}
.navbar-item
{
  text-align: center;
  /*background-color: red;*/
}
.navbar-link{
  display: inline;
  padding: 0px 15px;
}
.navbar-link a{
  text-decoration: none;
  text-align: center;
  color: #000;
  font-size: 14px;
  display: inline-block;
}
.navbar-addres{
  /*float: right;*/
}
/* banner */
.banner-container{

}
.banner-text{
  background-color: #FBFCF9;
  width: 20%;
  height: auto;
  text-align: center;
  left: 40%;
  top: 50%;
  position: absolute;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 14px;
}
.banner-text-heading{
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  color: #49443E;
}
.banner-link{
  margin-top: 15px;
  text-align: center;
  /*background-color: red;*/
  text-transform: uppercase;
}
.banner-link a{
  color: #000;
  font-size: 14px;
}
/* featured */
.featured-container{
  margin-top: 50px;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-column-gap: 6%;
  min-height: 100vh;
}
.featured-text{
  align-items: center;
  justify-content: center;
  width: 50%;
  height: auto;
  /*background-color: red;*/
  margin-left: 25%;
  display: block;
}
.featured-text h3{
  text-align: center;
  font-size: 42px;
  width: 600;
}
.featured-image{
  /*float: right;*/
  width: 50%;
}
/* best seller */
.bestseller-container{
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  margin-top: 100px;
  position: relative;
}
.bestseller-header{
  /*background-color: red;*/
}
.BestSeller-title{
  text-align: center;
}
.bestseller-image{
  width: 80%;
  overflow: hidden;
  /*background-color: red;*/
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2%;
  /*display: flex;*/
}
.image-inner-container{
  position: relative;
  width: 100%;
}
.image-inner-container:hover .overlay{
  height: 20%;
}
.image-container img{
  width: 100%;
  display: block;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}
.text {
  color: #49443E;
  font-size: 20px;
  position: absolute;
  top: 40%;
  left: 45%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.size-selector{
  font-size: 16px;
}
.text-top{
  margin: 0;
  padding: 8px 0px;
  color: #49443E;
}
.currency{
  float: right;
  /*display: none;*/
}
.text-head{
  margin: 0;
  padding: 8px 0;
  color: #49443E;
}
.text-bottom{
  margin: 0;
  font-style: italic;
  color: #49443E;
}