/* app */
.app{
  background-color: #FFFFFF;
}
/* navbar */
.navbar-container{
  background-color: #FBFCF9;
}
.navbar-top{
  background-color: #7E7D71;
}
.navbar-title{
  float: left;
}
.navbar-content{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar-item{
  display: inline;
  padding: 0px 15px;
  float: left;
}
.navbar-addres{
  float: right;
}
/* banner */
/* featured */
.featured-container{
  display: flex;
}
.featured-text{
  float: left;
}
.featured-image{
  float: right;
}
/* best seller */
.bestseller-image{
  display: flex;
}
.image-container{
  width: 33%;
}
